In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from Config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Sinnamary,5.3833,-52.9500,80.87,81,96,9.01,GF,2021-04-03 16:44:29
1,1,Vaini,-21.2000,-175.2000,75.20,94,75,6.91,TO,2021-04-03 16:44:29
2,2,Lompoc,34.6391,-120.4579,51.80,82,38,3.44,US,2021-04-03 16:44:29
3,3,Chokurdakh,70.6333,147.9167,-24.79,100,63,4.45,RU,2021-04-03 16:44:29
4,4,Wrentham,42.0668,-71.3281,45.00,23,1,10.36,US,2021-04-03 16:44:29

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# Google heatmaps do not plot negative numbers. Therefore we have to remove the negative temperatures
# and replace them with a zero. This is done using a for loop 
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Sinnamary,5.3833,-52.9500,80.87,81,96,9.01,GF,2021-04-03 16:44:29
1,1,Vaini,-21.2000,-175.2000,75.20,94,75,6.91,TO,2021-04-03 16:44:29
10,10,Bilma,18.6853,12.9164,84.04,8,0,6.98,NE,2021-04-03 16:44:30
13,13,Atuona,-9.8000,-139.0333,80.80,74,99,15.73,PF,2021-04-03 16:44:30
15,15,Rikitea,-23.1203,-134.9692,77.18,68,55,15.66,PF,2021-04-03 16:44:31
16,16,Cape Town,-33.9258,18.4232,75.00,49,0,8.05,ZA,2021-04-03 16:39:33
24,24,Bambous Virieux,-20.3428,57.7575,81.00,83,40,8.05,MU,2021-04-03 16:44:32
27,27,Nova Londrina,-22.7658,-52.9850,84.04,43,74,6.49,BR,2021-04-03 16:44:33
31,31,Chiang Khong,20.2613,100.4046,75.20,83,40,8.05,TH,2021-04-03 16:44:33
34,34,Nosy Varika,-20.5833,48.5333,75.92,70,0,1.21,MG,2021-04-03 16:44:34

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0         Sinnamary      GF     80.87   5.3833  -52.9500
1             Vaini      TO     75.20 -21.2000 -175.2000
10            Bilma      NE     84.04  18.6853   12.9164
13           Atuona      PF     80.80  -9.8000 -139.0333
15          Rikitea      PF     77.18 -23.1203 -134.9692
16        Cape Town      ZA     75.00 -33.9258   18.4232
24  Bambous Virieux      MU     81.00 -20.3428   57.7575
27    Nova Londrina      BR     84.04 -22.7658  -52.9850
31     Chiang Khong      TH     75.20  20.2613  100.4046
34      Nosy Varika      MG     75.92 -20.5833   48.5333

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

record_counter = 1

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    print(f"Processing record {record_counter}")
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("No Hotel .. Skipping")
    record_counter +=1

Processing record 1
Processing record 2
Processing record 3
Processing record 4
Processing record 5
Processing record 6
Processing record 7
Processing record 8
Processing record 9
Processing record 10
Processing record 11
Processing record 12
Processing record 13
Processing record 14
Processing record 15
Processing record 16
Processing record 17
Processing record 18
Processing record 19
Processing record 20
Processing record 21
Processing record 22
Processing record 23
Processing record 24
Processing record 25
Processing record 26
Processing record 27
Processing record 28
Processing record 29
Processing record 30
Processing record 31
No Hotel .. Skipping
Processing record 32
Processing record 33
Processing record 34
Processing record 35
Processing record 36
Processing record 37
Processing record 38
Processing record 39
Processing record 40
Processing record 41
Processing record 42
Processing record 43
Processing record 44
Processing record 45
Processing record 46
Processing record 47
Processing record 48
Processing record 49
Processing record 50
Processing record 51
No Hotel .. Skipping
Processing record 52
Processing record 53
Processing record 54
Processing record 55
Processing record 56
Processing record 57
Processing record 58
Processing record 59
Processing record 60
Processing record 61
Processing record 62
Processing record 63
Processing record 64
Processing record 65
Processing record 66
Processing record 67
Processing record 68
Processing record 69
Processing record 70
Processing record 71
Processing record 72
Processing record 73
Processing record 74
Processing record 75
Processing record 76
Processing record 77
Processing record 78
Processing record 79
Processing record 80
Processing record 81
Processing record 82
Processing record 83
Processing record 84
Processing record 85
Processing record 86
Processing record 87
Processing record 88
No Hotel .. Skipping
Processing record 89
Processing record 90
Processing record 91
Processing record 92
Processing record 93
Processing record 94
Processing record 95
No Hotel .. Skipping
Processing record 96
Processing record 97
Processing record 98
Processing record 99
Processing record 100
Processing record 101
Processing record 102
Processing record 103
Processing record 104
Processing record 105
Processing record 106
Processing record 107
Processing record 108
Processing record 109
Processing record 110
Processing record 111
Processing record 112
No Hotel .. Skipping
Processing record 113
Processing record 114
Processing record 115
Processing record 116
Processing record 117
Processing record 118
Processing record 119
Processing record 120
Processing record 121
Processing record 122
Processing record 123
Processing record 124
Processing record 125
Processing record 126
Processing record 127
Processing record 128
Processing record 129
Processing record 130
Processing record 131
Processing record 132
Processing record 133
Processing record 134
Processing record 135
Processing record 136
Processing record 137
Processing record 138
Processing record 139
Processing record 140
Processing record 141
Processing record 142
Processing record 143
Processing record 144
Processing record 145
Processing record 146
Processing record 147
Processing record 148
Processing record 149
Processing record 150
Processing record 151
Processing record 152
Processing record 153
No Hotel .. Skipping
Processing record 154
Processing record 155
Processing record 156

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sinnamary,GF,80.87,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
1,Vaini,TO,75.20,-21.2000,-175.2000,Keleti Beach Resort
10,Bilma,NE,84.04,18.6853,12.9164,Expeditions Ténére voyages
13,Atuona,PF,80.80,-9.8000,-139.0333,Villa Enata
15,Rikitea,PF,77.18,-23.1203,-134.9692,Pension Maro'i
16,Cape Town,ZA,75.00,-33.9258,18.4232,Southern Sun Waterfront Cape Town
24,Bambous Virieux,MU,81.00,-20.3428,57.7575,Casa Tia Villa
27,Nova Londrina,BR,84.04,-22.7658,-52.9850,HOTEL FELICE
31,Chiang Khong,TH,75.20,20.2613,100.4046,Chiangkhong Green Inn Resident
34,Nosy Varika,MG,75.92,-20.5833,48.5333,Hotel Volazara

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} *F</dd>
</dl>
"""

In [16]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))